.video{
    /*height: rem(650px);*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F5F5;
  }
  
  .video__text{
    display: flex;
    justify-content: center;
  }
  
  .video__content{
    display: flex;
    justify-content: center;
    margin-bottom: rem(110px);
  }
  